<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/osgi
  http://www.springframework.org/schema/osgi/spring-osgi.xsd"
	default-autowire="byName" default-init-method="init">

	<osgi:reference id="actionConfigManager" interface="com.china.center.struts.wrap.ActionConfigManager" />
	
	<osgi:reference id="publicFacade" interface="com.china.center.oa.publics.facade.PublicFacade" />
	
	<osgi:reference id="commonDAO" interface="com.china.center.oa.publics.dao.CommonDAO" />
	
	<osgi:reference id="enumDAO" interface="com.china.center.oa.publics.dao.EnumDAO" />
	
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	
	<osgi:reference id="assignApplyDAO" interface="com.china.center.oa.customer.dao.AssignApplyDAO" />

	<osgi:reference id="changeLogDAO" interface="com.china.center.oa.customer.dao.ChangeLogDAO" />

	<osgi:reference id="customerApplyDAO" interface="com.china.center.oa.customer.dao.CustomerApplyDAO" />

	<osgi:reference id="customerCheckDAO" interface="com.china.center.oa.customer.dao.CustomerCheckDAO" />

	<osgi:reference id="customerCheckItemDAO" interface="com.china.center.oa.customer.dao.CustomerCheckItemDAO" />

	<osgi:reference id="customerDAO" interface="com.china.center.oa.customer.dao.CustomerDAO" />

	<osgi:reference id="customerHisDAO" interface="com.china.center.oa.customer.dao.CustomerHisDAO" />

	<osgi:reference id="stafferVSCustomerDAO" interface="com.china.center.oa.customer.dao.StafferVSCustomerDAO" />

	<osgi:reference id="customerCheckManager" interface="com.china.center.oa.customer.manager.CustomerCheckManager" />

	<osgi:reference id="customerManager" interface="com.china.center.oa.customer.manager.CustomerManager" />

	<osgi:reference id="creditCoreDAO" interface="com.china.center.oa.credit.dao.CreditCoreDAO" />

	<osgi:reference id="creditItemDAO" interface="com.china.center.oa.credit.dao.CreditItemDAO" />

	<osgi:reference id="creditItemSecDAO" interface="com.china.center.oa.credit.dao.CreditItemSecDAO" />

	<osgi:reference id="creditItemThrDAO" interface="com.china.center.oa.credit.dao.CreditItemThrDAO" />

	<osgi:reference id="creditLevelDAO" interface="com.china.center.oa.credit.dao.CreditLevelDAO" />

	<osgi:reference id="creditlogDAO" interface="com.china.center.oa.credit.dao.CreditlogDAO" />

	<osgi:reference id="curOutDAO" interface="com.china.center.oa.credit.dao.CurOutDAO" />

	<osgi:reference id="customerCreditApplyDAO" interface="com.china.center.oa.credit.dao.CustomerCreditApplyDAO" />

	<osgi:reference id="customerCreditDAO" interface="com.china.center.oa.credit.dao.CustomerCreditDAO" />

	<osgi:reference id="outStatDAO" interface="com.china.center.oa.credit.dao.OutStatDAO" />

	<osgi:reference id="creditItemManager" interface="com.china.center.oa.credit.manager.CreditItemManager" />

	<osgi:reference id="customerCreditManager" interface="com.china.center.oa.credit.manager.CustomerCreditManager" />

	<osgi:reference id="curOutManager" interface="com.china.center.oa.credit.manager.CurOutManager" />

	<osgi:reference id="customerFacade" interface="com.china.center.oa.customer.facade.CustomerFacade" />
	
</beans>
