<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ex="http://www.springframework.org/schema/ex"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/ex 
  http://www.springframework.org/schema/ex/spring-ex-2.0.xsd
  http://www.springframework.org/schema/osgi
  http://www.springframework.org/schema/osgi/spring-osgi.xsd"
	default-autowire="byName" default-init-method="init">

	<osgi:reference id="actionConfigManager" interface="com.china.center.struts.wrap.ActionConfigManager" />
	
	<osgi:reference id="publicFacade" interface="com.china.center.oa.publics.facade.PublicFacade" />
	
	<osgi:reference id="commonDAO" interface="com.china.center.oa.publics.dao.CommonDAO" />
	
	<osgi:reference id="enumDAO" interface="com.china.center.oa.publics.dao.EnumDAO" />
	
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	
	<osgi:reference id="locationDAO" interface="com.china.center.oa.publics.dao.LocationDAO" />
	
	<osgi:reference id="productCombinationDAO" interface="com.china.center.oa.product.dao.ProductCombinationDAO" />

	<osgi:reference id="productDAO" interface="com.china.center.oa.product.dao.ProductDAO" />

	<osgi:reference id="productVSLocationDAO" interface="com.china.center.oa.product.dao.ProductVSLocationDAO" />

	<osgi:reference id="productFacade" interface="com.china.center.oa.product.facade.ProductFacade" />

	<osgi:reference id="productManager" interface="com.china.center.oa.product.manager.ProductManager" />
	
	<osgi:reference id="providerDAO" interface="com.china.center.oa.product.dao.ProviderDAO" />

	<osgi:reference id="providerHisDAO" interface="com.china.center.oa.product.dao.ProviderHisDAO" />

	<osgi:reference id="providerUserDAO" interface="com.china.center.oa.product.dao.ProviderUserDAO" />

	<osgi:reference id="productTypeVSCustomerDAO" interface="com.china.center.oa.product.dao.ProductTypeVSCustomerDAO" />
	
	<osgi:reference id="depotDAO" interface="com.china.center.oa.product.dao.DepotDAO" />

	<osgi:reference id="depotpartDAO" interface="com.china.center.oa.product.dao.DepotpartDAO" />

	<osgi:reference id="storageDAO" interface="com.china.center.oa.product.dao.StorageDAO" />
	
	<osgi:reference id="storageLogDAO" interface="com.china.center.oa.product.dao.StorageLogDAO" />

	<osgi:reference id="storageRelationDAO" interface="com.china.center.oa.product.dao.StorageRelationDAO" />
	
	<osgi:reference id="providerManager" interface="com.china.center.oa.product.manager.ProviderManager" />
	
	<osgi:reference id="depotManager" interface="com.china.center.oa.product.manager.DepotManager" />

	<osgi:reference id="storageManager" interface="com.china.center.oa.product.manager.StorageManager" />

	<osgi:reference id="depotpartManager" interface="com.china.center.oa.product.manager.DepotpartManager" />
	
	<osgi:reference id="composeProductDAO" interface="com.china.center.oa.product.dao.ComposeProductDAO" />
	
	<osgi:reference id="priceChangeDAO" interface="com.china.center.oa.product.dao.PriceChangeDAO" />
	
</beans>
