<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/osgi
  http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<osgi:service ref="assignApplyDAO" interface="com.china.center.oa.customer.dao.AssignApplyDAO" />

	<osgi:service ref="changeLogDAO" interface="com.china.center.oa.customer.dao.ChangeLogDAO" />

	<osgi:service ref="customerApplyDAO" interface="com.china.center.oa.customer.dao.CustomerApplyDAO" />

	<osgi:service ref="customerCheckDAO" interface="com.china.center.oa.customer.dao.CustomerCheckDAO" />

	<osgi:service ref="customerCheckItemDAO" interface="com.china.center.oa.customer.dao.CustomerCheckItemDAO" />

	<osgi:service ref="customerDAO" interface="com.china.center.oa.customer.dao.CustomerDAO" />

	<osgi:service ref="customerHisDAO" interface="com.china.center.oa.customer.dao.CustomerHisDAO" />

	<osgi:service ref="stafferVSCustomerDAO" interface="com.china.center.oa.customer.dao.StafferVSCustomerDAO" />

	<osgi:service ref="customerCheckManager" interface="com.china.center.oa.customer.manager.CustomerCheckManager" />

	<osgi:service ref="customerManager" interface="com.china.center.oa.customer.manager.CustomerManager" />

	<osgi:service ref="creditCoreDAO" interface="com.china.center.oa.credit.dao.CreditCoreDAO" />

	<osgi:service ref="creditItemDAO" interface="com.china.center.oa.credit.dao.CreditItemDAO" />

	<osgi:service ref="creditItemSecDAO" interface="com.china.center.oa.credit.dao.CreditItemSecDAO" />

	<osgi:service ref="creditItemThrDAO" interface="com.china.center.oa.credit.dao.CreditItemThrDAO" />

	<osgi:service ref="creditLevelDAO" interface="com.china.center.oa.credit.dao.CreditLevelDAO" />

	<osgi:service ref="creditlogDAO" interface="com.china.center.oa.credit.dao.CreditlogDAO" />

	<osgi:service ref="curOutDAO" interface="com.china.center.oa.credit.dao.CurOutDAO" />

	<osgi:service ref="customerCreditApplyDAO" interface="com.china.center.oa.credit.dao.CustomerCreditApplyDAO" />

	<osgi:service ref="customerCreditDAO" interface="com.china.center.oa.credit.dao.CustomerCreditDAO" />

	<osgi:service ref="outStatDAO" interface="com.china.center.oa.credit.dao.OutStatDAO" />

	<osgi:service ref="creditItemManager" interface="com.china.center.oa.credit.manager.CreditItemManager" />

	<osgi:service ref="customerCreditManager" interface="com.china.center.oa.credit.manager.CustomerCreditManager" />

	<osgi:service ref="curOutManager" interface="com.china.center.oa.credit.manager.CurOutManager" />

	<osgi:service ref="customerFacade" interface="com.china.center.oa.customer.facade.CustomerFacade" />

</beans>
