<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="templateFileJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="flowInstanceManager" />
        <property name="targetMethod" value="deleteTempTemplateFile" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="templateFileTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="templateFileJob" />
        <property name="cronExpression" value="0 0 2 * * ?" />
    </bean>
    
    <bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="templateFileTrigger" />
			</list>
		</property>
	</bean>
</beans>
