<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="effJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="trigger" />
		<property name="targetMethod" value="printCacheEfficiency" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="effTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="effJob" />
		<property name="cronExpression" value="0 0/5 * * * ?" />
	</bean>

	<bean id="netPaPaJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="netAccessManager" />
		<property name="targetMethod" value="access" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="netPaPaTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="netPaPaJob" />
		<property name="startDelay" value="30000" />
		<property name="repeatInterval" value="300000" />
	</bean>


	<bean id="statJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="trigger" />
		<property name="targetMethod" value="statMoney" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="simpleStatTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="statJob" />
		<property name="startDelay" value="10000" />
		<property name="repeatInterval" value="9600000" />
	</bean>

	<bean id="bakDBJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="dbOprTrigger" />
		<property name="targetMethod" value="bakDB" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="bakDBTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="bakDBJob" />
		<property name="cronExpression" value="0 30 23 * * ?" />
	</bean>

	<bean id="statBankEveryDayJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="trigger" />
		<property name="targetMethod" value="statBankEveryDay" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="statBankEveryDayTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="statBankEveryDayJob" />
		<property name="startDelay" value="10000" />
		<property name="repeatInterval" value="9600000" />
	</bean>

	<bean id="synchronizedProductJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="trigger" />
		<property name="targetMethod" value="synchronizedProduct" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="synchronizedProductTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="synchronizedProductJob" />
		<property name="cronExpression" value="0 0 2 * * ?" />
	</bean>

	<bean id="checkPriceAskOverTimeJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="priceManager" />
		<property name="targetMethod" value="checkOverTime_Job" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="checkPriceAskOverTimeTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="checkPriceAskOverTimeJob" />
		<property name="startDelay" value="30000" />
		<property name="repeatInterval" value="3000000" />
	</bean>
	
	<bean id="handleMessageJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="defaultHandleMessageImpl" />
        <property name="targetMethod" value="handleMessage" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="handleMessageTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="handleMessageJob" />
        <property name="startDelay" value="30000" />
        <property name="repeatInterval" value="15000" />
    </bean>
    
    <bean id="modifyProductAmountInSystemLocationJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="trigger" />
        <property name="targetMethod" value="modifyProductAmountInSystemLocation" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="modifyProductAmountInSystemLocationTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="modifyProductAmountInSystemLocationJob" />
        <property name="cronExpression" value="0 45 3 * * ?" />
    </bean>
	
	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="simpleStatTrigger" />
				<ref bean="bakDBTrigger" />
				<ref bean="statBankEveryDayTrigger" />
				<ref bean="synchronizedProductTrigger" />
				<ref bean="checkPriceAskOverTimeTrigger" />
				<ref bean="effTrigger" />
				<ref bean="checkPriceAskOverTimeTrigger" />
				<ref bean="handleMessageTrigger" />
				<ref bean="modifyProductAmountInSystemLocationTrigger" />
			</list>
		</property>
	</bean>
</beans>
