<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-init-method="init">

	<bean id="memberDAO" class="com.china.centet.yongyin.dao.MemberDAO" />

	<bean id="gradeDAO" class="com.china.centet.yongyin.dao.GradeDAO" />

	<bean id="consumeDAO"
		class="com.china.centet.yongyin.dao.ConsumeDAO" />

	<bean id="logDAO" class="com.china.centet.yongyin.dao.LogDAO" />

	<bean id="exchangeDAO"
		class="com.china.centet.yongyin.dao.ExchangeDAO" />

	<bean id="memeberManager"
		class="com.china.centet.yongyin.manager.MemeberManager" />

	<bean id="consumeManager"
		class="com.china.centet.yongyin.manager.ConsumeManager" />
</beans>
