<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/osgi
  http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<osgi:service ref="tcpApplyDAO" interface="com.china.center.oa.tcp.dao.TcpApplyDAO" />

	<osgi:service ref="tcpPrepaymentDAO" interface="com.china.center.oa.tcp.dao.TcpPrepaymentDAO" />

	<osgi:service ref="tcpShareDAO" interface="com.china.center.oa.tcp.dao.TcpShareDAO" />

	<osgi:service ref="travelApplyDAO" interface="com.china.center.oa.tcp.dao.TravelApplyDAO" />

	<osgi:service ref="travelApplyItemDAO" interface="com.china.center.oa.tcp.dao.TravelApplyItemDAO" />

	<osgi:service ref="travelApplyPayDAO" interface="com.china.center.oa.tcp.dao.TravelApplyPayDAO" />

	<osgi:service ref="tcpFlowDAO" interface="com.china.center.oa.tcp.dao.TcpFlowDAO" />

	<osgi:service ref="travelApplyManager" interface="com.china.center.oa.tcp.manager.TravelApplyManager" />

	<osgi:service ref="tcpApproveDAO" interface="com.china.center.oa.tcp.dao.TcpApproveDAO" />

</beans>
