<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
	  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-init-method="init" default-destroy-method="destroy">

	<bean id="baseDAO" class="com.china.center.oa.sail.dao.impl.BaseDAOImpl" />

	<bean id="outDAO" class="com.china.center.oa.sail.dao.impl.OutDAOImpl" />

	<bean id="outUniqueDAO" class="com.china.center.oa.sail.dao.impl.OutUniqueDAOImpl" />

	<bean id="consignDAO" class="com.china.center.oa.sail.dao.impl.ConsignDAOImpl" />

	<bean id="consignManager" class="com.china.center.oa.sail.manager.impl.ConsignManagerImpl" />

	<bean id="outBalanceDAO" class="com.china.center.oa.sail.dao.impl.OutBalanceDAOImpl" />

	<bean id="baseBalanceDAO" class="com.china.center.oa.sail.dao.impl.BaseBalanceDAOImpl" />

	<bean id="outQueryDAO" class="com.china.center.oa.sail.dao.impl.OutQueryDAOImpl" />

	<bean id="unitViewDAO" class="com.china.center.oa.sail.dao.impl.UnitViewDAOImpl" />
	
	<bean id="outManager" class="com.center.china.osgi.publics.factory.RedirectFactoryBean">
		<property name="interfaceName">
			<value>com.china.center.oa.sail.manager.OutManager</value>
		</property>
		<property name="serverName">
			<value>com.china.center.oa.sail.inner.outManager</value>
		</property>
	</bean>

</beans>
