<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="delPicJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="dbOprTrigger" />
		<property name="targetMethod" value="delTempPic" />
		<property name="concurrent" value="false" />
	</bean>
	
    <bean id="delPicTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="delPicJob" />
        <property name="cronExpression" value="0 0 2 * * ?" />
    </bean>
    
    <bean id="everyDayCarryWithOutTransactionalJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="everyDayTrigger" />
        <property name="targetMethod" value="everyDayCarryWithOutTransactional" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="everyDayCarryWithOutTransactionalTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="everyDayCarryWithOutTransactionalJob" />
        <property name="cronExpression" value="0 0 1 * * ?" />
    </bean>
    
    <bean id="everyHourCarryWithOutTransactionalJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="everyDayTrigger" />
        <property name="targetMethod" value="everyHourCarryWithOutTransactional" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="everyHourCarryWithOutTransactionalTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="everyHourCarryWithOutTransactionalJob" />
        <property name="cronExpression" value="0 0 * * * ?" />
    </bean>
    
    <bean id="everyDayCarryWithTransactionalJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="everyDayTrigger" />
        <property name="targetMethod" value="everyDayCarryWithTransactional" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="everyDayCarryWithTransactionalTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="everyDayCarryWithTransactionalJob" />
        <property name="cronExpression" value="0 10 1 * * ?" />
    </bean>
	
	<bean id="planJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="planManager" />
        <property name="targetMethod" value="carryPlan" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="planTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="planJob" />
        <property name="cronExpression" value="0 30 0 * * ?" />
    </bean>
    
    <bean id="templateFileJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="flowInstanceManager" />
        <property name="targetMethod" value="deleteTempTemplateFile" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="templateFileTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="templateFileJob" />
        <property name="cronExpression" value="0 0 2 * * ?" />
    </bean>
    
    <bean id="yearJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dbOprTrigger" />
        <property name="targetMethod" value="synInFinanceBegin" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="yearTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="yearJob" />
        <property name="cronExpression" value="0 5 0 1 3 ?" />
    </bean>
    
    <bean id="examineYearJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dbOprTrigger" />
        <property name="targetMethod" value="updateExamineStatusYear" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="examineYearTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="examineYearJob" />
        <property name="cronExpression" value="0 0 0 1 4 ?" />
    </bean>
    
    <bean id="afterSystemSetupJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="planManager" />
        <property name="targetMethod" value="afterSystemSetup" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="afterSystemSetupTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="afterSystemSetupJob" />
        <property name="startDelay" value="60000" />
        <property name="repeatInterval" value="36000000" />
    </bean>
	
	<bean id="customerStatusJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dbOprTrigger" />
        <property name="targetMethod" value="autoUpdateCustomerStatus" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="customerStatusTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="customerStatusJob" />
        <property name="cronExpression" value="0 0 1 * * ?" />
    </bean>
    
    <bean id="syncustomerLocationJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dbOprTrigger" />
        <property name="targetMethod" value="synchronizationAllCustomerLocation" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="syncustomerLocationTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="syncustomerLocationJob" />
        <property name="cronExpression" value="0 30 1 * * ?" />
    </bean>
    
    <bean id="synReceiveToSendJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="noteManager" />
        <property name="targetMethod" value="synReceiveToSend" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="synReceiveToSendTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="synReceiveToSendJob" />
        <property name="startDelay" value="60000" />
        <property name="repeatInterval" value="30000" />
    </bean>
    
    <bean id="handleMessageJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="defaultHandleMessageImpl" />
        <property name="targetMethod" value="handleMessage" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="handleMessageTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="handleMessageJob" />
        <property name="startDelay" value="30000" />
        <property name="repeatInterval" value="15000" />
    </bean>
    
     <bean id="sendMessageJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="sendMessageManager" />
        <property name="targetMethod" value="sendSMSByMAS" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="sendMessageTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="sendMessageJob" />
        <property name="startDelay" value="30000" />
        <property name="repeatInterval" value="15000" />
    </bean>
    
    <bean id="changeInitToWaitSendJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="noteManager" />
        <property name="targetMethod" value="changeInitToWaitSend" />
        <property name="concurrent" value="false" />
    </bean>
    
    <bean id="changeInitToWaitSendTrigger"
        class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="changeInitToWaitSendJob" />
        <property name="startDelay" value="30000" />
        <property name="repeatInterval" value="15000" />
    </bean>
    
    <bean id="statOutJob"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="curOutManager" />
        <property name="targetMethod" value="statOut" />
        <property name="concurrent" value="false" />
    </bean>

    <bean id="statOutTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="statOutJob" />
        <property name="cronExpression" value="0 30 3 * * ?" />
    </bean>

	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="everyDayCarryWithOutTransactionalTrigger" />
				<ref bean="everyDayCarryWithTransactionalTrigger" />
				<ref bean="everyHourCarryWithOutTransactionalTrigger" />
				<ref bean="yearTrigger" />
				<ref bean="planTrigger" />
				<ref bean="templateFileTrigger" />
				<ref bean="examineYearTrigger" />
				<ref bean="afterSystemSetupTrigger" />
				<ref bean="delPicTrigger" />
				<ref bean="customerStatusTrigger" />
				<ref bean="syncustomerLocationTrigger" />
				<ref bean="synReceiveToSendTrigger" />
				<ref bean="handleMessageTrigger" />
				<ref bean="sendMessageTrigger" />
				<ref bean="changeInitToWaitSendTrigger" />
				<ref bean="statOutTrigger" />
			</list>
		</property>
	</bean>
</beans>
