<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>JDBC的配置</comment>
	<entry key="jdbc.driverClassName">com.mysql.jdbc.Driver</entry>
	<entry key="jdbc.url">jdbc:mysql://127.0.0.1:3306/mac1?useUnicode=true&amp;characterEncoding=GBK</entry>
	<entry key="db_name">mac1</entry>
	<entry key="jdbc.username">mac</entry>
	<entry key="jdbc.password">Qwerty123789</entry>
	<entry key="attchmentPath">c:/Tomcat 5.5/attchment</entry>
	<entry key="templateFilePath">d:/oa_attachment/flow/template</entry>
	<entry key="instanceAttachmentRoot">d:/oa_attachment/flow/instance</entry>
	<entry key="makeAttachmentRoot">d:/oa_attachment/flow/make</entry>
	<entry key="instanceReadonlyAttachmentRoot">d:/oa_attachment/readonlyflow/instance</entry>
	<entry key="flowAtt">d:/oa_attachment/flowAtt</entry>
	<entry key="systemAtt">d:/oa_attachment/flow</entry>
	<entry key="mailAttchmentPath">d:/mail/attchment</entry>
	<entry key="script">c:/Tomcat 5.5/oa/script</entry>
	<entry key="picPath">c:/Tomcat 5.5/picPath</entry>
	<entry key="db_bak">d:/oa_db_bak</entry>
	<entry key="froot">d:/oa_froot</entry>
	<entry key="mysql_root">D:/Program Files/MySQL/MySQL Server 5.0/bin</entry>
	<entry key="show_sql">false</entry>
	<entry key="editServerName">webdav</entry>
	<entry key="readonlyServerName">webdav2</entry>
	<entry key="sqlMap">config/sql-map-config.xml</entry>
	<entry key="databaseEncoding">GBK</entry>
	<entry key="systemEncoding">GBK</entry>
	<entry key="configXMLPath">classpath:sysini/queryConfig.xml,classpath:sysini/queryCustomizeConfig.xml</entry>
	<entry key="licence">f89ckk7f678p77pc4mf6pc7f35k74xk99xaa9a</entry>
</properties>
