<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-init-method="init">
	<!--
	<bean id="jbpmConfiguration"
		class="org.springmodules.workflow.jbpm31.LocalJbpmConfigurationFactoryBean">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="configuration"
			value="classpath:config/jbpm/jbpm.cfg.xml" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="configLocation">
			<value>classpath:config/jbpm/hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLInnoDBDialect
				</prop>
				<prop key="hibernate.show_sql">${show_sql}</prop>
			</props>
		</property>
	</bean>

	<bean id="flowManager"
		class="com.china.centet.yongyin.manager.FlowManager" />

	<bean id="saveDecision"
		class="com.china.centet.yongyin.wokflow.sale.decision.SaveDecision" />

	<bean id="flowDecision"
		class="com.china.centet.yongyin.wokflow.sale.decision.FlowDecision" />

	<bean id="saveOutAction"
		class="com.china.centet.yongyin.wokflow.sale.action.SaveOutAction" />

	<bean id="submitOutAction"
		class="com.china.centet.yongyin.wokflow.sale.action.SubmitOutAction" />

	<bean id="delOutAction"
		class="com.china.centet.yongyin.wokflow.sale.action.DelOutAction" />

	<bean id="saveOutHandler"
		class="com.china.centet.yongyin.wokflow.sale.action.SaveOutHandler" />

	<bean id="rejectOutAction"
		class="com.china.centet.yongyin.wokflow.sale.action.RejectOutAction" />

	<bean id="passOutAction"
		class="com.china.centet.yongyin.wokflow.sale.action.PassOutAction" />

	<bean id="checkOutAction"
		class="com.china.centet.yongyin.wokflow.sale.action.CheckOutAction" />

	 -->

</beans>