<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-autowire="byName" default-init-method="init">

	<bean id="handleObjectList" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>outHandleMessage</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="defaultHandleMessageImpl"
		class="com.china.center.oa.note.manager.DefaultHandleMessageImpl">
		<property name="handleObjectList">
			<ref bean="handleObjectList" />
		</property>
	</bean>

	<bean id="abstractHandleMessage"
		class="com.china.center.oa.note.manager.AbstractHandleMessage"
		abstract="true">
	</bean>
	
	<bean id="receiveTaskDAO" class="com.china.center.oa.note.dao.ReceiveTaskDAO"/>
	
	<bean id="shortMessageTaskDAO" class="com.china.center.oa.note.dao.ShortMessageTaskDAO"/>
	
	<bean id="shortMessageTaskHisDAO" class="com.china.center.oa.note.dao.ShortMessageTaskHisDAO"/>

</beans>
