<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-init-method="init">

	<bean id="flowDefineDAO"
		class="com.china.centet.yongyin.dao.FlowDefineDAO" />

	<bean id="flowInstanceDAO"
		class="com.china.centet.yongyin.dao.FlowInstanceDAO" />

	<bean id="flowTokenDAO"
		class="com.china.centet.yongyin.dao.FlowTokenDAO" />

	<bean id="flowInstanceLogDAO"
		class="com.china.centet.yongyin.dao.FlowInstanceLogDAO" />

	<bean id="flowBelongDAO"
		class="com.china.centet.yongyin.dao.FlowBelongDAO" />

	<bean id="flowConsignDAO"
		class="com.china.centet.yongyin.dao.FlowConsignDAO" />

	<bean id="workFlowManager"
		class="com.china.centet.yongyin.manager.WorkFlowManager">
		<property name="attchmentPath">
			<value>${attchmentPath}</value>
		</property>
	</bean>
</beans>
