<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="checkPriceAskOverTimeJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="priceAskManager" />
		<property name="targetMethod" value="checkOverTime_Job" />
		<property name="concurrent" value="false" />
	</bean>

	<bean id="checkPriceAskOverTimeTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail" ref="checkPriceAskOverTimeJob" />
		<property name="startDelay" value="30000" />
		<property name="repeatInterval" value="300000" />
	</bean>

	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="checkPriceAskOverTimeTrigger" />
			</list>
		</property>
	</bean>
</beans>
