<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ex="http://www.springframework.org/schema/ex"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
  http://www.springframework.org/schema/ex 
  http://www.springframework.org/schema/ex/spring-ex-2.0.xsd
  http://www.springframework.org/schema/osgi
  http://www.springframework.org/schema/osgi/spring-osgi.xsd">
	
	<osgi:service ref="bankDAO" interface="com.china.center.oa.finance.dao.BankDAO" />

	<osgi:service ref="bankManager" interface="com.china.center.oa.finance.manager.BankManager" />

	<osgi:service ref="financeFacade" interface="com.china.center.oa.finance.facade.FinanceFacade" />

	<osgi:service ref="paymentDAO" interface="com.china.center.oa.finance.dao.PaymentDAO" />

	<osgi:service ref="paymentManager" interface="com.china.center.oa.finance.manager.PaymentManager" />

	<osgi:service ref="inBillDAO" interface="com.china.center.oa.finance.dao.InBillDAO" />

	<osgi:service ref="paymentVSOutDAO" interface="com.china.center.oa.finance.dao.PaymentVSOutDAO" />

	<osgi:service ref="billManager" interface="com.china.center.oa.finance.manager.BillManager" />

	<osgi:service ref="invoiceinsDAO" interface="com.china.center.oa.finance.dao.InvoiceinsDAO" />

	<osgi:service ref="invoiceinsItemDAO" interface="com.china.center.oa.finance.dao.InvoiceinsItemDAO" />

	<osgi:service ref="insVSOutDAO" interface="com.china.center.oa.finance.dao.InsVSOutDAO" />

	<osgi:service ref="invoiceinsManager" interface="com.china.center.oa.finance.manager.InvoiceinsManager" />

	<osgi:service ref="paymentApplyDAO" interface="com.china.center.oa.finance.dao.PaymentApplyDAO" />

</beans>
