<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-init-method="init">

	<bean name="/buffaloConfigBean"
		class="net.buffalo.service.BuffaloServiceConfigurer">
		<property name="services">
			<map>
				<entry key="userDAO">
					<ref bean="userDAO" />
				</entry>
				<entry key="commonDAO">
					<ref bean="commonDAO" />
				</entry>
				<entry key="productDAO">
					<ref bean="productDAO" />
				</entry>
				<entry key="ehcacheManager">
					<ref bean="ehcacheManager" />
				</entry>
				<entry key="storageManager">
					<ref bean="storageManager" />
				</entry>
				<entry key="depotpartManager">
					<ref bean="depotpartManager" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="centerDemo"
		class="com.china.centet.yongyin.manager.impl.CenterDemoImpl" />

	<bean id="dbOprTrigger"
		class="com.china.centet.yongyin.trigger.DBOprTrigger">
		<property name="user">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="script">
			<value>${script}</value>
		</property>
		<property name="db_bak">
			<value>${db_bak}</value>
		</property>
		<property name="mysql_root">
			<value>${mysql_root}</value>
		</property>
		<property name="db_name">
			<value>${db_name}</value>
		</property>
	</bean>

	<bean id="userDAO" class="com.china.centet.yongyin.dao.UserDAO" />

	<bean id="commonDAO" class="com.china.centet.yongyin.dao.CommonDAO" />

	<bean id="upGrade"
		class="com.china.centet.yongyin.trigger.impl.UpGradeImpl"
		init-method="initDB">
	</bean>

	<bean id="upGradeDAO"
		class="com.china.centet.yongyin.dao.impl.UpGradeDAOImpl" />


	<bean id="productDAO"
		class="com.china.centet.yongyin.dao.ProductDAO" />

	<bean id="customerDAO"
		class="com.china.centet.yongyin.dao.CustomerDAO" />

	<bean id="outDAO" class="com.china.centet.yongyin.dao.OutDAO" />

	<bean id="billDAO" class="com.china.centet.yongyin.dao.BillDAO" />

	<bean id="bankDAO" class="com.china.centet.yongyin.dao.BankDAO" />

	<bean id="bankManager"
		class="com.china.centet.yongyin.manager.BankManager" />

	<bean id="parameterDAO"
		class="com.china.centet.yongyin.dao.ParameterDAO" />

	<bean id="locationDAO"
		class="com.china.centet.yongyin.dao.LocationDAO" />

	<bean id="locationManager"
		class="com.china.centet.yongyin.manager.LocationManager" />

	<bean id="statDAO" class="com.china.centet.yongyin.dao.StatDAO" />

	<bean id="productManager"
		class="com.china.centet.yongyin.manager.ProductManager" />

	<bean id="menuItemDAO"
		class="com.china.centet.yongyin.dao.MenuItemDAO" />

	<bean id="outManager"
		class="com.china.centet.yongyin.manager.OutManager">
		<property name="defaultDepotpartId">
			<value>${defaultDepotpartId}</value>
		</property>
	</bean>

	<bean id="menuItemManager" depends-on="upGrade"
		class="com.china.centet.yongyin.manager.MenuItemManager" />

	<bean id="ehcacheManager"
		class="com.china.centet.yongyin.manager.EhcacheManager"
		init-method="init" destroy-method="destory" />

	<bean id="trigger"
		class="com.china.centet.yongyin.trigger.impl.TriggerImpl" />

	<bean id="storageDAO"
		class="com.china.centet.yongyin.dao.StorageDAO" />

	<bean id="depotpartDAO"
		class="com.china.centet.yongyin.dao.DepotpartDAO" />

	<bean id="depotpartManager"
		class="com.china.centet.yongyin.manager.DepotpartManager" />

	<bean id="storageManager"
		class="com.china.centet.yongyin.manager.StorageManager" />

	<bean id="consignDAO"
		class="com.china.centet.yongyin.dao.ConsignDAO" />

	<bean id="proctExceptionDAO"
		class="com.china.centet.yongyin.dao.ProctExceptionDAO" />

	<bean id="netAccessManager"
		class="com.china.centet.yongyin.manager.NetAccessManager" />

	<bean id="commonFacede"
		class="com.china.centet.yongyin.facade.impl.CommonFacedeImpl" />

	<bean id="productTypeDAO"
		class="com.china.centet.yongyin.dao.ProductTypeDAO" />

	<bean id="productTypeVSCustomerDAO"
		class="com.china.centet.yongyin.dao.ProductTypeVSCustomerDAO" />

	<bean id="priceDAO" class="com.china.centet.yongyin.dao.PriceDAO" />

	<bean id="priceWebDAO"
		class="com.china.centet.yongyin.dao.PriceWebDAO" />

	<bean id="priceAskDAO"
		class="com.china.centet.yongyin.dao.PriceAskDAO" />

	<bean id="priceAskProviderDAO"
		class="com.china.centet.yongyin.dao.PriceAskProviderDAO" />

	<bean id="stockDAO" class="com.china.centet.yongyin.dao.StockDAO" />

	<bean id="stockItemDAO"
		class="com.china.centet.yongyin.dao.StockItemDAO" />

	<bean id="stockManager"
		class="com.china.centet.yongyin.manager.StockManager">
		<property name="stockLocation">
			<value>${stockLocation}</value>
		</property>
	</bean>

	<bean id="productAmountDAO"
		class="com.china.centet.yongyin.dao.ProductAmountDAO" />

	<bean id="flowLogDAO"
		class="com.china.centet.yongyin.dao.FlowLogDAO" />

	<bean id="hotProductDAO"
		class="com.china.centet.yongyin.dao.HotProductDAO" />

	<bean id="baseBeanDAO"
		class="com.china.centet.yongyin.dao.BaseBeanDAO" />
</beans>
